--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformers==4.49.0
accelerate==1.4.0
datasets==3.0.0
peft==0.14.0
bitsandbytes==0.45.0
google-generativeai==0.8.4
python-dotenv==1.0.1
tqdm==4.67.1
sentencepiece==0.2.0
protobuf==5.29.3
einops==0.8.0
trl==0.15.1
